* {
	font-size: 12px;
	font-family: "FiraCode Nerd Font", "Symbols Nerd Font", sans-serif;
}

window#waybar {
	background: #00171f;
	color: #fdf6e3;
}

#custom-separator {
	color: #00171f;
}

#workspaces,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#network,
#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
  background: #00171f;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #003459;
	border: #003459;
	padding: 0 3px;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #6c71c4;
}
#memory.warning {
  color: #cb4b16; 
}
#cpu {
  color: #bdb76b;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}
#network {
	color: #2aa198;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#network {
	padding: 0 10px;
}

#clock:hover,
#pulseaudio:hover,
#memory:hover,
#cpu:hover,
#battery:hover,
#disk:hover,
#network:hover {
	background: #003459;
	border: #003459;
	padding: 0 10px;
}
